
// TBD appearance:none for full control over styling

button, input, select, textarea{
  font-size: 1rem;
}

input{
  //border-radius: var(--ui-radius);
}
input[type="text"]{
  background: var(--ui-background);
  color: var(--ui-label);
  padding: .25em;
  outline-color: var(--ui-link);
  outline-width: 3px;
  width:100%;
}

button{
  appearance: none;
  background: var(--ui-link);
  color: var(--ui-link-invert);
  border: 0;
  border-radius: var(--ui-radius);
  font-weight: var(--ui-weight-medium);
  padding: .25em .5em;

  // TODO subtle shadow

  :active{
    filter: brightness(1.25);
  }

  [disabled]{
    filter: brightness(.25);
  }
}