// Typography
// https://learnui.design/blog/mobile-desktop-website-font-size-guidelines.html
// https://material.io/design/typography/the-type-system.html#type-scale
// https://learnui.design/blog/ios-font-size-guidelines.html#ipad
// https://ivomynttinen.com/blog/ios-design-guidelines
// https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/typography/

ui-app, ui-modal {
  /**
   * "Large Title" - Featured content, such as empty states, promotions.
   */
  h1 {
    font-size: 33px;
    line-height: 40px;
  }

  /**
   * "Title"
   */
  h2 {
    font-size: 27px;
    line-height: 33px;
  }

  h3 {
    font-size: 21px;
    line-height: 26px;
  }

  /**
   * "Headline"
   */
  h4 {
    font-size: var(--ui-font-size);
    line-height: var(--ui-font-line-height);
  }

  /**
   * "Subhead"
   */
  h5 {
    font-size: 14px;
    line-height: 19px;
  }

  /**
   * "Footnote"
   */
  h6 {
    font-size: 12px;
    line-height: 16px;
  }

  /**
   * Weight Modifiers
   */
  .is-weight-semibold {
    font-weight: var(--ui-weight-semibold);
  }

  /**
   * Color Modifiers
   */
  .is-label {
    color: var(--ui-label);
  }
  .is-secondary-label {
    color: var(--ui-secondary-label);
  }
}