// Typography
// https://learnui.design/blog/mobile-desktop-website-font-size-guidelines.html
// https://material.io/design/typography/the-type-system.html#type-scale
// https://learnui.design/blog/ios-font-size-guidelines.html#ipad
// https://ivomynttinen.com/blog/ios-design-guidelines
// https://developer.apple.com/design/human-interface-guidelines/ios/visual-design/typography/
:root{
  --ui-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --ui-font-family-monospace: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  --ui-font-size: 16px;
  //--ui-secondary-font-size: calc(var(--ui-font-size) - 2px);
  //--ui-tertiary-font-size: calc(var(--ui-secondary-font-size) - 2px);
  //--ui-title-font-size: 1.75rem; // largest possible text in ui


  // Heading is intended to be used to define a section. Headings are very important for accessibility, as it helps to make copy more easily scannable and guides a user through your content.
 // --ui-heading-font-size: 1.3125rem;

  //--ui-font-size-s: .75rem;
  //--ui-font-size-m: .875rem;
  //--ui-font-size-l: 1rem;
  //--ui-font-size-xl: 1.3125rem;
  //--ui-font-size-xl2: 1.75rem;
  //--ui-font-size-xl3: 2.1875rem;
  --ui-line-height: 21px;

  // Weight
  --ui-weight-light: 300;
  --ui-weight-normal: 400;
  --ui-weight-medium: 500;
  --ui-weight-semibold: 600;
  --ui-weight-bold: 700;
  --ui-weight-max: 900; // css 2.1
}

ui-title /*, .ui-title*/{
  --ui-title-font-weight: var(--ui-weight-normal);

  font-size: 27px;
  line-height: 33px;
  font-weight: var(--ui-title-1-font-weight);
}

ui-headline /*, .ui-headline*/{
  --ui-headline-font-weight: var(--ui-weight-semibold);

  font-size: var(--ui-font-size);
  line-height: var(--ui-line-height);
  font-weight: var(--ui-headline-font-weight);
}