$tablet: 769px !default; // not allowed as a css variable

@mixin overflow-touch {
  -webkit-overflow-scrolling: touch;
}

@mixin unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

%unselectable {
  @include unselectable;
}

@mixin tablet {
  @media screen and (min-width: $tablet), print {
    @content;
  }
}


@mixin buttonBase {
  appearance: none;
  border: 0;
  justify-content: flex-start;
  display: inline-flex;
  align-items: center;
  position: relative;
  vertical-align: top;

  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
  }

  &:focus,
  &:active{
    outline: none;
  }

  // height: var(--ui-control-height);
  // line-height: 1.5;
  // font-size: 1rem;

  box-sizing: border-box;

  //justify-content: left; // center;
  // text-align: left; // center;
  white-space: nowrap;

  border: 1px solid transparent;

  cursor: var(--ui-action-pointer);

  font-weight: var(--ui-button-weight);
  padding: calc(var(--ui-button-spacing)/2) var(--ui-button-spacing);

  transition: background-color var(--ui-speed) var(--ui-easing-cubic-bezier) 0ms,
  border var(--ui-speed) var(--ui-easing-cubic-bezier) 0ms;

  font-size: .875rem;
  line-height: 1.75;
  font-weight: 500;
}

%buttonBase {
  @include buttonBase;
}
