$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
                    "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$family-primary: $family-sans-serif;

$tablet: 769px !default;

$body-size: 16px !default;
$body-min-width: 300px !default;
$body-rendering: optimizeLegibility !default;
$body-family: $family-primary !default;
$body-overflow-x: hidden !default;
$body-overflow-y: scroll !default;

$body-font-size: .875em !default; /* 16x.875=14 https://alistapart.com/article/howtosizetextincss/ */
$body-weight: var(--ui-weight-normal) !default;
$body-line-height: 1.5 !default;



