

:root{
  // Spacing (margin/padding/gap's)
  // TODO should these auto-vary based on screen size?
  --ui-2xs-spacing: .25rem;
  --ui-xs-spacing: .5rem;
  --ui-s-spacing: .75rem;
  --ui-spacing: 1rem;
  --ui-l-spacing: 1.5rem;
  --ui-xl-spacing: 2rem;
  --ui-2xl-spacing: 3rem;

  // Font
  --ui-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --ui-font-family-monospace: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

  // Font Sizing
  --ui-font-size: 16px;
  --ui-font-line-height: 21px;

  // Weight
  --ui-weight-light: 300;
  --ui-weight-normal: 400;
  --ui-weight-medium: 500;
  --ui-weight-semibold: 600;
  --ui-weight-bold: 700;
  --ui-weight-max: 900; // css 2.1
}



