

:root{

  // Spacing (margin/padding/gap's)
  // TODO should these auto-vary based on screen size?
  --ui-2xs-spacing: .25rem;
  --ui-xs-spacing: .5rem;
  --ui-s-spacing: .75rem;
  --ui-spacing: 1rem;
  --ui-l-spacing: 1.5rem;
  --ui-xl-spacing: 2rem;
  --ui-2xl-spacing: 3rem;

  // Font
  --ui-font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --ui-font-family-monospace: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

  // Font Sizing
  --ui-font-size: 16px;
  --ui-font-line-height: 21px;

  // Weight
  --ui-weight-light: 300;
  --ui-weight-normal: 400;
  --ui-weight-medium: 500;
  --ui-weight-semibold: 600;
  --ui-weight-bold: 700;
  --ui-weight-max: 900; // css 2.1
}

:root{
  //--ui-control-height: 2.5em;

  --ui-button-radius: var(--ui-radius);
  --ui-button-weight: var(--ui-weight-medium);
  --ui-button-spacing: var(--ui-s-spacing);
  --ui-button-font-size: 1rem; // Material is .875rem

  --ui-button-line-height: 1;//inherit; //1.5; // Bootstrap and Bulma == 1.5, Material == 1.75

  --ui-icon-button-radius: var(--ui-button-radius);
  --ui-icon-button-size: 1.5rem;
  --ui-icon-button-spacing: calc(var(--ui-button-spacing)/2);
}




