@import 'section';
@import 'column';
@import 'level';
@import 'path';

/**
 * Not-yet-defined custom elements
 */
//*:not(:defined) {
//  opacity: .5;
//  transition: opacity 0.3s ease-in-out;
//}

.ui-render-fix{
  transform: translateZ(0); // for safari repaint issues
}

.ui-separator-column{
  > *:not(:last-child) {
    border-bottom: 1px solid var(--ui-separator);
  }
}

.ui-separator-row{
  > *:not(:last-child){
    border-right: 1px solid var(--ui-separator);
  }
}

.ui-root, ui-modal{
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  background: var(--ui-background);
  color: var(--ui-foreground);

  ::-webkit-scrollbar {
    width: var(--ui-scroll-width);
    height: var(--ui-scroll-width); // same as width
  }
  ::-webkit-scrollbar-track {
    background: var(--ui-scroll-background);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--ui-scroll-thumb) ;
    border-radius: 6px;
    border: 3px solid var(--ui-scroll-background);
  }

  > main{
    flex-grow: 1;

    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .ui-init-indicator {
    display: none;
  }

  &[ui-is-init]{

    .ui-init-indicator {
      display: inline-block;
      position: relative;
      width: 8rem;
      height: 8rem;
      margin: auto;
    }

    .ui-init-indicator div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 8rem;
      height: 8rem;
      //margin: 2px;
      border: 2px solid #fff;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: var(--ui-foreground) transparent transparent transparent;
    }

    .ui-init-indicator div:nth-child(1) {
      animation-delay: -0.45s;
    }

    .ui-init-indicator div:nth-child(2) {
      animation-delay: -0.3s;
    }

    .ui-init-indicator div:nth-child(3) {
      animation-delay: -0.15s;
    }

    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }

  }

}

/**
 * Tough:
 *
 * https://medium.com/p/46e78d54af0d/responses/show
 * https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
 */
html.ui-full {
  // This doesn't work in iOS:
  //body {
  //   height: 100vh;
  //}

  background: var(--ui-background);
  color: var(--ui-label);

  // From one of the medium comments, and related to this recommendation:
  // https://bugs.chromium.org/p/chromium/issues/detail?id=844848#c4
  height: 100%;

  overflow-x: hidden;
  overflow-y: hidden;

  body {
    height: 100%;
    overflow-x: hidden;

    overflow-y: hidden;

    //> ui-root {
    //   height: 100%;
    // }
  }
}

/**
 * A row of ul's
 */
.ui-list-row{
  display: flex;
  flex-direction: row;

  > ul{
    flex-grow: 1;
    text-align:left;

    > li{
      --ui-button-radius: 0px;
    }

    + ul{
      border-left: 1px solid var(--ui-separator);
    }
  }
}