
@import 'column';

/**
 * Not-yet-defined custom elements
 */
//*:not(:defined) {
//  opacity: .5;
//  transition: opacity 0.3s ease-in-out;
//}

.ui-render-fix{
  transform: translateZ(0); // for safari repaint issues
}

.ui-separator-column{
  > *:not(:last-child) {
    border-bottom: 1px solid var(--ui-separator);
  }
}

.ui-separator-row{
  > *:not(:last-child){
    border-right: 1px solid var(--ui-separator);
  }
}


.
/**
 * Tough:
 *
 * https://medium.com/p/46e78d54af0d/responses/show
 * https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
 */
html.ui-full {
  // This doesn't work in iOS:
  //body {
  //   height: 100vh;
  //}

  background: var(--ui-background);
  color: var(--ui-label);

  // From one of the medium comments, and related to this recommendation:
  // https://bugs.chromium.org/p/chromium/issues/detail?id=844848#c4
  height: 100%;

  overflow-x: hidden;
  overflow-y: hidden;

  body {
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;

    //> ui-app {
    //   height: 100%;
    // }
  }
}

/**
 * A row of ul's
 */
.ui-list-row{
  display: flex;
  flex-direction: row;

  > ul{
    flex-grow: 1;
    text-align:left;

    > li{
      ui-button {
        --ui-button-radius: 0px;
      }
    }

    + ul{
      border-left: 1px solid var(--ui-separator);
    }
  }
}