.ui-level{
  display: flex;
  flex-direction: row;
  align-items: center;

  //?
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;

  &.has-xs-spacing{
    > * + * {
      margin-left: var(--ui-xs-spacing);
    }
  }
  &.has-s-spacing{
    > * + * {
      margin-left: var(--ui-s-spacing);
    }
  }
  &.has-spacing{
    > * + * {
      margin-left: var(--ui-spacing);
    }
  }
}