@import '/utils';

/**
 * Provides no real functionality -- primarily a "root" styling target for typography, etc.
 */
ui-app{

}

/**
 * Square. Designed usually to be a <span> containing either a single emoji character, or <svg>.
 */
ui-icon{
  @extend %unselectable;

  --ui-icon-size: 1em;
  --ui-icon-color: var(--ui-label);

  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: var(--ui-icon-size);
  width: var(--ui-icon-size);

  font-weight: var(--ui-weight-max);

  // not good for case of plain emoji/text icons
  //font-size: var(--ui-icon-size);
  //line-height: var(--ui-icon-size);

  > svg{
    height: var(--ui-icon-size);
    width: var(--ui-icon-size);
    fill: currentColor;
    flex-shrink: 0;
  }
}