/**
 * Container for related buttons/controls, and responsible for the spacing between them.
 *
 * May be nested.
 *
 * Variations:
 *   .is-path
 *   .is-even
 *   .is-end
 *   .is-grow
 */
ui-bar{
  --ui-bar-background: transparent;
  --ui-bar-spacing: var(--ui-button-spacing, var(--ui-xs-spacing));

  display: flex;
  background: var(--ui-toolbar-background);
  white-space: nowrap;
  justify-content: flex-start;
  align-items: center;

  flex-shrink: 0;

  &:empty{
    display:none;
  }

  > * {
    margin-left: var(--ui-bar-spacing);
  }

  > ui-button:not(.is-outlined):not(.is-contained),
  > ui-icon-button:not(.is-outlined):not(.is-contained),
  > ui-menu-button:not(.is-outlined):not(.is-contained){
    margin-left: calc(var(--ui-bar-spacing) / 2);

    + ui-button:not(.is-outlined):not(.is-contained),
    + ui-icon-button:not(.is-outlined):not(.is-contained),
    + ui-menu-button:not(.is-outlined):not(.is-contained){
      margin-left: 0px;
    }
  }

  > *:first-child{
    margin-left: 0px !important;
  }

  /**
   * Typically coupled with .is-grow
   */
  &.is-even{
    justify-content: space-between;
    margin-left: 0px;
  }

  /**
   * Typically coupled with .is-grow
   */
  &.is-end{
    justify-content: flex-end;
  }

  &.is-grow{
    flex-grow: 1;
  }

  /**
   * Separator between ui-bar children.
   */
  &.is-separated{
    //> *:not(:first-child):before{
    > *:after{
      content: "";
      display: inline-block;
      width: 1px;
      background: var(--ui-separator);
      position:absolute;
      height: 100%;

      top: 0;
      left: 0;

      //> *:not(:first-child) {
        //margin-left: -1px !important;
      //}
      marging-right: -1px;
    }
  }

  /**
   * Path indicator between ui-bar children.
   */
  &.is-path{
    --ui-path-item-arrow-width: 2px;
    --ui-path-item-color: var(--ui-separator);
    --ui-path-item-size: .5rem;

    > *:not(:first-child):before {
      content: "";
      display: inline-block;
      border-right: var(--ui-path-item-arrow-width) solid var(--ui-path-item-color);
      border-top: var(--ui-path-item-arrow-width) solid var(--ui-path-item-color);
      transform: rotate(45deg);

      width: var(--ui-path-item-size);
      height: var(--ui-path-item-size);
      position: absolute;
      left: calc((var(--ui-path-item-size) * 2) * -1);
    }

    > *:not(:first-child) {
      margin-left: calc(var(--ui-bar-spacing) + var(--ui-path-item-size) + (var(--ui-path-item-size) / 2)) !important;
    }
  }
}