/**
 * Responsible for spacing between related buttons/controls.
 */
ui-bar{
  --ui-bar-background: transparent;
  --ui-bar-spacing: var(--ui-button-spacing, var(--ui-xs-spacing));

  display: flex;
  background: var(--ui-toolbar-background);
  white-space: nowrap;
  justify-content: flex-start;
  align-items: center;

  &:empty{
    display:none;
  }

  > *:not(:first-child) {
    margin-left: var(--ui-bar-spacing);
  }

  > ui-button:not(.is-outlined):not(.is-contained),
  > ui-icon-button:not(.is-outlined):not(.is-contained),
  > ui-menu-button:not(.is-outlined):not(.is-contained){
    margin-left: calc(var(--ui-bar-spacing) / 2);

    + ui-button:not(.is-outlined):not(.is-contained),
    + ui-icon-button:not(.is-outlined):not(.is-contained),
    + ui-menu-button:not(.is-outlined):not(.is-contained){
      margin-left: 0px;
    }
  }

  /**
   * Typically coupled with .is-grow
   */
  &.is-even{
    justify-content: space-between;
    margin-left: 0px;
  }

  /**
   * Typically coupled with .is-grow
   */
  &.is-end{
    justify-content: flex-end;
  }

  &.is-grow{
    flex-grow: 1;
  }

  &.is-path{
    --ui-path-item-arrow-width: 2px;
    --ui-path-item-color: var(--ui-separator);

    > *:not(:first-child):before {
      content: "";
      display: inline-block;
      border-right: var(--ui-path-item-arrow-width) solid var(--ui-path-item-color);
      border-top: var(--ui-path-item-arrow-width) solid var(--ui-path-item-color);
      transform: rotate(45deg);

      // TODO vars
      width: .5rem;
      height: .5rem;
      margin-right: var(--ui-bar-spacing);
      padding-left: calc(var(--ui-bar-spacing) / 2);
    }
  }
}