@import '/utils';

:root{
  --ui-control-height: 2.5em;
}

@mixin control {
  appearance: none;
  border: 0;
  justify-content: flex-start;
  display: inline-flex;
  align-items: center;
  position: relative;
  vertical-align: top;

  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
  }

  &:focus,
  &.is-focused,
  &:active,
  &.is-active {
    outline: none;
  }


 // height: var(--ui-control-height);
 // line-height: 1.5;
 // font-size: 1rem;
}

%control {
  @include control;
}


/**
 * https://material-ui.com/components/buttons/
 * https://uxmovement.com/mobile/optimal-size-and-spacing-for-mobile-buttons/
 * https://developer.apple.com/design/human-interface-guidelines/ios/icons-and-images/custom-icons/
 */
ui-button, ui-menu-button, ui-icon-button{
  @extend %control;
  @extend %unselectable;

  --ui-button-backround: inherit;
  --ui-button-label: inherit;
  --ui-button-radius: var(--ui-radius);
  --ui-button-weight: var(--ui-weight-normal);
  --ui-button-padding-horizontal: var(--ui-s-spacing);
  --ui-button-padding-vertical: calc(var(--ui-button-padding-horizontal)/2);
  --ui-button-hover: var(--ui-fill);
  --ui-button-active: var(--ui-secondary-fill);

  justify-content: center;
  text-align: center;
  white-space: nowrap;

  cursor: var(--ui-action-pointer);

  background: var(--ui-button-backround);
  color: var(--ui-button-label);
  border-radius: var(--ui-button-radius);
  font-weight: var(--ui-button-weight);
  padding: var(--ui-button-padding-vertical) var(--ui-button-padding-horizontal);

  // TBD/TODO
  letter-spacing: 0.02857em;
  font-size: .875rem;
  line-height: 1.75;
  font-weight: 500;

  padding: 6px 8px;

  &:hover{
    background: var(--ui-button-hover);
  }

  &:active {
    background: var(--ui-button-active);
  }

  &[disabled] {
    filter: brightness(.25); // opacity instead?
    pointer-events: none !important;
    cursor: not-allowed !important;
  }

  &.is-full-width{
    display: flex;
    width: 100%;
  }
  &.is-justify-left{
    justify-content: left;
    text-align: left;
  }

  // TODO default/primary/secondary
  &.is-priority-medium{
    // TODO default/primary/secondary
    padding: 6px 16px;
  }
  &.is-priority-high{
   // --ui-button-background: var(--ui-fill);
    //--ui-button-hover: var(ui-)
    background: var(--ui-fill) ; // TODO default/primary/secondary
    padding: 6px 16px;
  }
}

ui-icon-button{

  //--ui-button-padding-horizontal: var(--ui-xs-spacing);
  //--ui-button-padding-vertical: var(--ui-xs-spacing);

  font-size: 1.5rem;
  flex: 0 0 auto;

  padding: 12px;

  overflow: visible;

  > ui-icon {
    --ui-icon-size: 1.5em;
  }

}

ui-menu{
  --ui-menu-background: var(--ui-secondary-background);
  --ui-menu-label: var(--ui-label);
  //--ui-menu-shadow: var(--ui-secondary-background-shadow);
  --ui-menu-speed: var(--ui-speed);
  --ui-menu-radius: var(--ui-radius);

  display: block;
  position: absolute;
  background: var(--ui-menu-background);
  color: var(--ui-menu-label);
  left: 0;
  overflow: hidden; // clip content inside rounded corners
  top: 100%; // bottom of parent
  margin-top: 2px; // away from a parent a bit
  min-width: 100%; // at least as wide as parent
  border-radius: var(--ui-menu-radius);
  //box-shadow: 0 0.5em 1em -0.125em var(--ui-menu-shadow), 0 0px 0 1px var(--ui-menu-shadow);
  transition-property: opacity,transform;
  transition-duration: var(--ui-menu-speed);

  // while hidden:
  z-index: -9999;
  pointer-events: none;
  opacity:0;
  transform: translateY(-5px);
}

ui-menu-button{
  position: relative;

  /**
   * :focus-within allows focusing input controls within the menu, without closing the menu.
   *
   * https://css-tricks.com/a-css-approach-to-trap-focus-inside-of-an-element/
   */
  &:focus, &:focus-within{
    background: var(--ui-button-hover);

    ui-menu{
      pointer-events: auto;
      opacity: 1;
      transform: translateY(0);
      z-index: 9999;
    }
  }
}
