:root {
  --ui-dialog-background: var(--ui-secondary-background);
  --ui-dialog-label: var(--ui-label);

  --ui-secondary-dialog-background: var(--ui-tertiary-background);
  --ui-secondary-dialog-label: var(--ui-label);

  --ui-dialog-shadow: var(--ui-secondary-background-shadow);

  --ui-dialog-title-horizontal-padding: .75rem;
  --ui-dialog-title-vertical-padding: .5rem;

  /**
   * This must be used by internal components of the dialog as needed.
   */
  --ui-dialog-content-padding: 1rem;
}

ui-modal ui-dialog{
  box-shadow: 0 0.5em 1em -0.125em var(--ui-dialog-shadow), 0 0px 0 1px var(--ui-dialog-shadow);
  border-radius: var(--ui-radius);
  border: 1px solid var(--ui-separator);
}

ui-dialog{
  background: var(--ui-dialog-background);
  color: var(--ui-dialog-label);

  display: flex;
  flex-direction: column;

  /**
   * Secondary content set against the main dialog content. Sidebar, etc.
   */
  .ui-secondary-dialog-content{
    background: var(--ui-secondary-dialog-background);
    color: var(--ui-secondary-dialog-label);
  }

  //.ui-dialog-content{
    // Leave fully unstyled for wider implementations
  //}

  .ui-dialog-title{
    background: var(--ui-secondary-dialog-background);
    color: var(--ui-secondary-dialog-label);
    padding: var(--ui-dialog-title-vertical-padding) var(--ui-dialog-title-horizontal-padding);

    position: relative;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--ui-separator);

    .ui-dialog-close{
      @include delete(14px /* must use px */, var(--ui-red), 1px, var(--ui-red));

      position: absolute;
      left: var(--ui-dialog-title-horizontal-padding);
    }
  }
}

