:root {
  --ui-drawer-width: 240px;
  --ui-drawer-background: var(--ui-secondary-background);
  --ui-drawer-label: var(--ui-label);
}

//ui-drawer-app-around{
//  display: flex;
//  flex: 1 1 auto;
//  flex-direction: column;
//}

ui-drawer-opener{display:none;}
ui-drawer-closer{display:none;}

ui-drawer-layout{
  display: flex;
  flex: 1 1 0px;
  min-height: 1px;

  &.is-open{
    ui-drawer {
      margin-left: 0px;
    }
    ui-drawer-opener{
      display:none;
    }
  }

  /**
   * May contain a <ui-appbar> to match height of any toolbar this is next to.
   */
  ui-drawer{
    background: var(--ui-drawer-background);
    color: var(--ui-drawer-label);
    flex: 0 0 auto;
    flex-direction: column;
    transition: margin-left var(--ui-speed) ease-out, transform var(--ui-speed) ease-out;

    width: var(--ui-drawer-width);
    margin-left: calc(-1 * var(--ui-drawer-width));
  }

  //> main{
  //  display: flex;
  //  flex: 1;
  //  flex-direction: column;
    //min-width: 920px;
  //  position: relative;
  //}

  > ui-drawer-main{
    display: flex;
    flex: 1;
    flex-direction: column;
    //min-width: 920px;
    position: relative;
  }

}
