/**
 * Designed usually to be a <span> containing either a single emoji character, or <svg>
 */
.ui-icon, ui-icon{
  --ui-icon-size: 1.5rem;
  --ui-icon-s-size: 1rem;
  --ui-icon-color: var(--ui-label);

  align-items: center;
  display: inline-flex;
  justify-content: center;
  font-size: var(--ui-icon-size);
  height: var(--ui-icon-size);
  width: var(--ui-icon-size);
  line-height: var(--ui-icon-size);

  > svg{
    height: var(--ui-icon-size);
    width: var(--ui-icon-size);
    fill: var(--ui-icon-color);
  }

  &.is-green /* > svg */ {
    //fill: var(--ui-green);
    --ui-icon-color: var(--ui-green);
  }

  &.is-small{
    /*font-size: 1rem;
    height: 1rem;
    width: 1rem;
    line-height: 1rem;

    > svg{
      height: 1rem;
      width: 1rem;
    }*/
    --ui-icon-size: var(--ui-icon-s-size);
  }

  &.is-em{
    /*
    font-size: 1em;
    height: 1em;
    width: 1em;
    line-height: 1em;

    > svg{
      height: 1em;
      width: 1em;
    }*/
    --ui-icon-size: 1em;
  }
}