$modal-z: 40 !default;
$modal-content-width: 640px !default;
$modal-content-margin-mobile: 20px !default;
$modal-content-spacing-mobile: 160px !default;
$modal-content-spacing-tablet: 40px !default;

@mixin overlay($offset: 0) {
  bottom: $offset;
  left: $offset;
  position: absolute;
  right: $offset;
  top: $offset;
}

%overlay {
  @include overlay;
}

ui-modal {
  @extend %overlay;

  align-items: center;
  display: none;
  flex-direction: column;
  overflow: hidden;
  position: fixed;
  z-index: $modal-z;

  &[active] {
    display: flex;
  }
}

.ui-modal-background {
  @extend %overlay;

  background: rgba(0,0,0,.5);
}

.ui-modal-content {
  overflow: visible;
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-top: .5rem;
  max-height: 100%;

  // Responsiveness
  @include tablet {
    width: $modal-content-width;
  }
}
