:root{
  --ui-spinner-size: 8rem;
  --ui-spinner-width: 2px;
  --ui-spinner-color: var(--ui-label);
}

[ui-is-init]{
  ui-spinner.is-init{
    display: inline-flex;
  }
}

ui-spinner {
  @extend %unselectable;
  display: inline-flex;
  position: relative;
  width: var(--ui-spinner-size);
  height: var(--ui-spinner-size);
  align-self: center;
  border: 0px;

  > div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: var(--ui-spinner-size);
    height: var(--ui-spinner-size);
    border: var(--ui-spinner-width) solid var(--ui-spinner-color);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--ui-spinner-color) transparent transparent transparent;
  }

  > div:nth-child(1) {
    animation-delay: -0.45s;
  }

  > div:nth-child(2) {
    animation-delay: -0.3s;
  }

  > div:nth-child(3) {
    animation-delay: -0.15s;
  }

  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &.is-init{
    display: none;
  }
}


