
ui-toolbar{
  --ui-toolbar-background: var(--ui-secondary-background);
  --ui-toolbar-label: var(--ui-label);
  --ui-toolbar-hover: var(--ui-selection-background);
  --ui-toolbar-focus: var(--ui-selection-background);

  flex-shrink: 0;

  align-items: stretch;
  justify-content: space-between;
  display: flex;

  background: var(--ui-toolbar-background);

  white-space: nowrap;

 // bad for popup menus:
  // overflow:hidden;

  ui-toolbar-left, ui-toolbar-right, ui-toolbar-path{
    display: flex;

    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;

    &:empty{
       display:none;
    }
  }

  ui-toolbar-left{
    align-items: stretch; //center;
    justify-content: flex-start;
  }

  ui-toolbar-right{
    align-items: stretch; //center;
    justify-content: flex-end;
  }

  ui-toolbar-item{
    @include unselectable;

    background: transparent; //var(--ui-toolbar-background);

    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;

    outline:0;

    &[disabled]{
      cursor: not-allowed !important;
      opacity: .5 !important;
      pointer-events: none !important;
    }
  }

  //ui-toolbar-right ui-toolbar-item.has-action .action{
  //  right: 0;
  //  left: unset;
 // }

  ui-toolbar-item{
    //border-radius: var(--ui-toolbar-item-border-radius);

    &.is-logo:before{
      content: ' ';
      height: 1.5rem;
      width: 1.5rem;
      background-size: 1.5rem 1.5rem;
      background-image: var(--ui-logo);
      background-position: center;
      background-repeat: no-repeat;
    }

    &.is-app-icon{
      svg{
        height: 1rem;
        width: 1rem;
      }
    }
  }

  /**
   * Spacing
   */
  --ui-toolbar-spacing: 0;

  padding: var(--ui-toolbar-spacing);

  ui-toolbar-item, ui-toolbar-path-item{
    padding: calc(var(--ui-toolbar-spacing) / 2) var(--ui-toolbar-spacing);
  }

  ui-toolbar-right{
    margin-right: var(--ui-toolbar-spacing);
  }

  &.has-s-spacing{
    --ui-toolbar-spacing: var(--ui-s-spacing);
  }
  &.has-xs-spacing{
    --ui-toolbar-spacing: var(--ui-xs-spacing);
  }
  &.has-2xs-spacing{
    --ui-toolbar-spacing: var(--ui-2xs-spacing);
  }
}
