
/**
 * ui-toolbar
 *   ui-toolbar-left/right
 *     ui-toolbar-item
 */
ui-toolbar{
  --ui-toolbar-background: var(--ui-secondary-background);

  flex-shrink: 0;

  align-items: stretch;
  justify-content: space-between;
  display: flex;

  background: var(--ui-toolbar-background);

  white-space: nowrap;

  ui-toolbar-left, ui-toolbar-right{
    display: flex;

    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;

    &:empty{
       display:none;
    }
  }

  ui-toolbar-left{
    align-items: stretch; //center;
    justify-content: flex-start;
  }

  ui-toolbar-right{
    align-items: stretch; //center;
    justify-content: flex-end;
  }

  ui-toolbar-item{
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    outline:0;
  }

  /**
   * Spacing
   *
   * Generally it's expected that content within ui-toolbar-item's have their own padding (such as ui-button).
   * Therefore ui-toolbar-item's have no spacing / padding of their own.
   */
  --ui-toolbar-spacing: 0;

  padding: var(--ui-toolbar-spacing);

  &.has-s-spacing{
    --ui-toolbar-spacing: var(--ui-s-spacing);
  }
  &.has-xs-spacing{
    --ui-toolbar-spacing: var(--ui-xs-spacing);
  }
  &.has-2xs-spacing{
    --ui-toolbar-spacing: var(--ui-2xs-spacing);
  }

  /**
   * Variations
   */

  &.has-gutters{
    @include tablet {
      padding-left: calc(var(--ui-toolbar-spacing) * 2);
      padding-right: calc(var(--ui-toolbar-spacing) * 2);
    }
  }

  &.is-main{
    min-height: calc(var(--ui-toolbar-spacing) * 3);

    @include tablet {
      min-height:  calc(var(--ui-toolbar-spacing) * 4);
    }
  }

}
