@import '/utils';

/**
 * - For mobile, drawers should be nice-to-have additive parts of the UI, not essential.
 * - By default drawers are implicitly opened / closed based on screen width.
 * - They may be explicitly opened or closed via classes, or actions (UIDrawerOpener/UIDrawerCloser).
 */


//$ui-drawer-fixed-breakpoint: 0px;

:root {
  --ui-drawer-width: 240px;
  --ui-drawer-background: var(--ui-secondary-background);
  --ui-drawer-label: var(--ui-label);
}

//ui-drawer-app-around{
//  display: flex;
//  flex: 1 1 auto;
//  flex-direction: column;
//}

@mixin ui-drawer-is-opened {
  ui-drawer {
    margin-left: 0px;
  }
  .has-ui-drawer-opener{
    display: none;
  }
  ui-drawer-overlay{
    display: block;
  }
  ui-drawer-main{
    pointer-events: none;
  }
  @include tablet(){
    ui-drawer-overlay{
      display: none;
    }
    ui-drawer-main{
      pointer-events: all;
    }
  }
}

@mixin ui-drawer-is-closed {
  ui-drawer {
    margin-left: calc(-1 * var(--ui-drawer-width));
  }
  .has-ui-drawer-opener{
    display: inherit;
  }
  ui-drawer-overlay{
    display:none;
  }
}

ui-drawer-layout{
  display: flex;
  flex: 1 1 0px;
  min-height: 1px;
  position:relative;
  z-index: 1;

  ui-drawer-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    z-index: 2;
    pointer-events: none;
  }

  /**
   * May contain a <ui-appbar> to match height of any toolbar this is next to.
   */
  ui-drawer{
    background: var(--ui-drawer-background);
    color: var(--ui-drawer-label);
    flex: 0 0 auto;
    flex-direction: column;
    transition: margin-left var(--ui-speed) ease-out, transform var(--ui-speed) ease-out;

    width: var(--ui-drawer-width);

    z-index: 3;

    position: fixed;
    bottom: 0;
    top: 0;
  }

  @include ui-drawer-is-closed();

  //> main{
  //  display: flex;
  //  flex: 1;
  //  flex-direction: column;
    //min-width: 920px;
  //  position: relative;
  //}

  > ui-drawer-main{
    display: flex;
    flex: 1;
    flex-direction: column;
    //min-width: 920px;
    position: relative;
    z-index: 1;
  }

  @include tablet{
    @include ui-drawer-is-opened();
  }

  //@media screen and (min-width: $ui-drawer-fixed-breakpoint), print {
  @include tablet {
    ui-drawer {
      position: relative;
    }
  }
  //}

  &.is-opened{
    @include ui-drawer-is-opened();
  }

  &.is-closed{
    @include ui-drawer-is-closed();
  }
}
