@import '/utils';

/**
 * Note: there are two general approaches to open/close drawer transitions:
 *   1) using margin-left
 *   2) using translate3d
 *
 * #2 works better for "auto" width drawers.
 */

:root {
  --ui-drawer-width: auto; //240px;
  --ui-drawer-background: var(--ui-secondary-background);
  --ui-drawer-label: var(--ui-label);
}

//ui-drawer-app-around{
//  display: flex;
//  flex: 1 1 auto;
//  flex-direction: column;
//}

@mixin ui-drawer-is-opened {
  ui-drawer {
    transform: translate3d(0px, 0px, 0px); //margin-left: 0px;
  }
  .has-ui-drawer-opener{
    display: none;
  }
  ui-drawer-overlay{
    display: block;
  }
  ui-drawer-main{
    pointer-events: none;
  }
  @include tablet(){
    ui-drawer-overlay{
      display: none;
    }
    ui-drawer-main{
      pointer-events: all;
    }
  }
}

@mixin ui-drawer-is-closed {
  ui-drawer {
    transform: translate3d(-100%, 0px, 0px); //margin-left: calc(-1 * var(--ui-drawer-width));
  }
  .has-ui-drawer-opener{
    display: inherit;
  }
  ui-drawer-overlay{
    display:none;
  }
}

ui-drawer-layout{
  display: flex;
  flex: 1 1 0px;
  position:relative;
  z-index: 1;

  ui-drawer-overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(0,0,0,0.5);
    z-index: 2;
  }

  /**
   * May contain a <ui-appbar> to match height of any toolbar this is next to.
   */
  ui-drawer{
    overflow: hidden;

    background: var(--ui-drawer-background);
    color: var(--ui-drawer-label);
    flex: 0 0 auto;
    flex-direction: column;
    transition: /*margin-left var(--ui-speed) ease-out,*/ transform var(--ui-speed) ease-out;

    width: var(--ui-drawer-width);

    z-index: 3;

    position: fixed;
    bottom: 0;
    top: 0;
  }

  @include ui-drawer-is-closed();

  > ui-drawer-main{
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  @include tablet{
    @include ui-drawer-is-opened();
  }

  @include tablet {
    ui-drawer {
      position: relative;
    }
  }

  &.is-opened{
    @include ui-drawer-is-opened();
  }

  &.is-closed{
    @include ui-drawer-is-closed();
  }
}
