@import '/utils';

:root{
  --ui-tab-background: inherit;
  --ui-tab-foreground: inherit;

  --ui-tab-active-background: var(--ui-selection-background);
  --ui-tab-active-foreground: inherit;

  --ui-tab-spacing: var(--ui-xs-spacing);

  --ui-tab-justify: center;
}

.--ui-tab-justify-center ui-tab{
  --ui-tab-justify: center;
}
.--ui-tab-justify-left ui-tab{
  --ui-tab-justify: left;
}

ui-tab-closer{display:none;}

ui-tab{
  @include unselectable;
  outline: none;
  cursor: var(--ui-action-pointer);
}

ui-tab{
  // Child Overrides:
  --ui-button-spacing: 2px;
  --ui-icon-button-size: 1rem;

  padding: var(--ui-tab-spacing) calc(var(--ui-tab-spacing) * 1.5)
        var(--ui-tab-spacing) calc(var(--ui-tab-spacing) * 1.5);

  background: var(--ui-tab-background);
  color: var(--ui-tab-foreground);
  display: flex;
  align-items: center;
  justify-content: var(--ui-tab-justify);
  position: relative;

  &[active='true']{
    background: var(--ui-tab-active-background);
    color: var(--ui-tab-active-foreground);
  }

  &.is-justify-center{
    --ui-tab-justify: center;
  }

  &.is-grow{
    flex-grow: 1;
  }

  /**
   * First child ui-icon, followed by something else.
   */
  > ui-icon:first-child:not(:last-child){
    margin-right: var(--ui-tab-spacing);
  }

  /**
   * Last child ui-icon-button
   */
  > ui-icon-button:last-child:not(:first-child){
    margin-left: var(--ui-tab-spacing);
  }
}
