@import '/utils';
@import '/base/button_vars';

ui-tab{
  --ui-tab-inactive-opacity: 1;

  --ui-tab-active-background: inherit;
  --ui-tab-active-foreground: inherit;
  --ui-tab-hover-background: inherit;

  --ui-tab-border-bottom-size: 0px;
  --ui-tab-border-left-size: 0px;
  --ui-tab-border-right-size: 0px;
  --ui-tab-border-top-size: 0px;

  --ui-tab-active-border-color: transparent;
  --ui-tab-hover-border-color: transparent;

  --ui-tab-spacing: var(--ui-button-spacing);

  @include buttonBase;
  @include unselectable;

  border: none;
  border-left: var(--ui-tab-border-left-size) solid transparent;
  border-right: var(--ui-tab-border-right-size) solid transparent;
  border-bottom: var(--ui-tab-border-bottom-size) solid transparent;
  border-top: var(--ui-tab-border-top-size) solid transparent;

  opacity: var(--ui-tab-inactive-opacity);

  // Nested UIIconButton overrides (the UITab, which is button-like, may also contain a UIIconButton):
  * {
    --ui-button-spacing: 2px;
    --ui-icon-button-spacing: 2px;
    --ui-icon-button-size: 1rem;
  }

  &:hover{
    background: var(--ui-tab-hover-background);
    border-color: var(--ui-tab-hover-border-color);
  }

  &[active='true']{
    color: var(--ui-tab-active-foreground);
    background: var(--ui-tab-active-background);
    border-color: var(--ui-tab-active-border-color);
    opacity: 1;
  }

  &.is-grow{
    flex-grow: 1;
  }

  // TBD in theses why not nest a ui-bar inside the ui-tab?
  /**
   * First child ui-icon, followed by something else.

  > ui-icon:first-child:not(:last-child){
    margin-right: var(--ui-tab-spacing);
  }*/

  /**
   * Last child ui-icon-button

  > ui-icon-button:last-child:not(:first-child){
    margin-left: var(--ui-tab-spacing);
  }*/
}

/**
 * Bottom border appearance
 */
.--ui-tab-is-bordered ui-tab,
.--ui-tab-is-bordered-l ui-tab{
  --ui-tab-inactive-opacity: .75;
  --ui-tab-active-background: transparent;
  --ui-tab-hover-background: transparent;
  --ui-tab-active-foreground: var(--ui-label);
  --ui-tab-border-bottom-size: 1px;
  --ui-tab-hover-border-color: var(--ui-label);
  --ui-tab-active-border-color: var(--ui-primary);
}
.--ui-tab-is-bordered-l ui-tab{
  --ui-tab-border-bottom-size: 2px;
}

/**
 * Vertical orientation appearance
 */
.--ui-tab-is-list-item ui-tab,
.--ui-tab-is-pill-item ui-tab{
  --ui-tab-active-background: var(--ui-selection-background);
  --ui-tab-hover-background: var(--ui-selection-background);
  width: 100%;
}
.--ui-tab-is-pill-item ui-tab {
  border-radius: var(--ui-radius);
}