/**
 * Derived and case specific settings.
 */

html{
  --ui-scroll-width: .5rem;
  --ui-scroll-thumb: var(--ui-fill);
  --ui-scroll-background: inherit;

  --ui-selection-background: var(--ui-fill);

}

.ui-theme-light{

}
