/**
 * Derived and case specific settings.
 */

html{
  --ui-scroll-width: var(--ui-xs-spacing);
  --ui-scroll-thumb: var(--ui-fill);
  --ui-scroll-background: inherit;

  --ui-selection-background: var(--ui-fill);

  --ui-invert-label: var(--ui-background);
  --ui-invert-background: var(--ui-label);
}

.ui-theme-light{

}
