@import '/utils';

// note: requires overflow:hidden on an outer layer
.ui-scrollable-y{
  display:flex;
  flex: 1 1 auto;
  min-height: 1px;
  overflow-y: auto;
  overscroll-behavior: none;
}
.ui-scrollable-x{
  display:flex;
  flex: 1 1 auto;
  min-height: 1px;
  overflow-x: auto;
  overscroll-behavior: none;
}
.ui-scrollable-xy{
  display:flex;
  flex: 1 1 auto;
  min-height: 1px;
  overflow: auto;
  overscroll-behavior: none;
}

/**
 * Provides no real functionality -- primarily a "root" styling target for typography, etc.
 */
.ui-app{
  position: relative;
  background: var(--ui-background);
  color: var(--ui-foreground);

  display: flex;
  flex-direction: column;

  ::-webkit-scrollbar {
    width: var(--ui-scroll-width);
    height: var(--ui-scroll-width); // same as width
  }
  ::-webkit-scrollbar-track {
    background: var(--ui-scroll-background);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--ui-scroll-thumb) ;
    border-radius: 6px;
    border: 3px solid var(--ui-scroll-background);
  }

  &.is-full{
    height: 100%;
    width: 100%;

    // OR?
    /*
    .ui-fullpage{
      bottom: 0;
      display: flex;
      flex-direction: column;
      left: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 0;
    }
     */
  }
}

/**
 * Tough:
 *
 * https://medium.com/p/46e78d54af0d/responses/show
 * https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
 */
html.ui-full {
  // This doesn't work in iOS:
  //body {
  //   height: 100vh;
  //}

  background: var(--ui-background);
  color: var(--ui-label);

  // From one of the medium comments, and related to this recommendation:
  // https://bugs.chromium.org/p/chromium/issues/detail?id=844848#c4
  height: 100%;

  overflow: hidden;

  body {
    height: 100%;
    overflow: hidden;
  }
}

/**
 * Square. Designed usually to be a <span> containing either a single emoji character, or <svg>.
 */
ui-icon{
  @extend %unselectable;

  --ui-icon-size: 1em;
  --ui-icon-color: var(--ui-label);

  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: var(--ui-icon-size);
  width: var(--ui-icon-size);
  font-weight: var(--ui-weight-bold); // for single plain text character icons

  > svg{
    height: var(--ui-icon-size);
    width: var(--ui-icon-size);
    fill: currentColor;
    flex-shrink: 0;
  }
}