
:root{
  --ui-bar-background: transparent;
  --ui-bar-spacing: var(--ui-button-spacing, var(--ui-xs-spacing));
}

ui-bar{
  display: flex;
  background: var(--ui-toolbar-background);
  white-space: nowrap;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;

  &:empty{
    display:none;
  }

  > * {
    margin-left: var(--ui-bar-spacing);
  }

  > ui-button:not(.is-outlined):not(.is-contained),
  > ui-icon-button:not(.is-outlined):not(.is-contained){
    margin-left: calc(var(--ui-bar-spacing) / 2);

    + ui-button:not(.is-outlined):not(.is-contained),
    + ui-icon-button:not(.is-outlined):not(.is-contained){
      margin-left: 0px;
    }
  }

  > *:first-child{
    margin-left: 0px !important;
  }

  &.is-spacing-none{
    --ui-bar-spacing: 0px;
  }

  /**
   * Typically coupled with .is-grow
   */
  &.is-even{
    justify-content: space-between;
    margin: 0px;
  }

  /**
   * For children which should be vertically the same height.
   */
  &.is-stretch{
    align-items: stretch;
  }

  /**
   * Typically coupled with .is-grow
   */
  &.is-end{
    justify-content: flex-end;
  }

  &.is-grow{
    flex-grow: 1;
  }

  &.is-column{
    flex-direction: column;
    align-items: flex-start;
    margin: 0px;

  }

  /**
   * Path indicator between ui-bar children.
   */
  &.is-path{
    --ui-path-item-arrow-width: 2px;
    --ui-path-item-color: var(--ui-separator);
    --ui-path-item-size: .5rem;

    > *:not(:first-child):before {
      content: "";
      display: inline-block;
      border-right: var(--ui-path-item-arrow-width) solid var(--ui-path-item-color);
      border-top: var(--ui-path-item-arrow-width) solid var(--ui-path-item-color);
      transform: rotate(45deg);

      width: var(--ui-path-item-size);
      height: var(--ui-path-item-size);
      position: absolute;
      left: calc((var(--ui-path-item-size) * 2) * -1);
    }

    > *:not(:first-child) {
      margin-left: calc(var(--ui-bar-spacing) + var(--ui-path-item-size) + (var(--ui-path-item-size) / 2)) !important;
    }
  }
}

:root{
  --ui-appbar-spacing: 0;
  --ui-appbar-background: transparent;
}


ui-appbar{
  flex-shrink: 0;

  display: flex;

  background: var(--ui-appbar-background);

  white-space: nowrap;
  align-items: center;

  padding-left: calc(var(--ui-appbar-spacing) * 1);
  padding-right: calc(var(--ui-appbar-spacing) * 1);

  &.has-l-spacing{
    --ui-appbar-spacing: var(--ui-l-spacing);
  }
  &.has-spacing{
    --ui-appbar-spacing: var(--ui-spacing);
  }
  &.has-s-spacing{
    --ui-appbar-spacing: var(--ui-s-spacing);
  }
  &.has-xs-spacing{
    --ui-appbar-spacing: var(--ui-xs-spacing);
  }
  //&.has-2xs-spacing{
  //  --ui-appbar-spacing: var(--ui-2xs-spacing);
 // }

  height: calc(var(--ui-appbar-spacing) * 4); // has-spacing == 16px x 4 == 64px

  /**
   * Variations
   */

  &.is-stretch{
    align-items: stretch;
  }
}
