/**
 * Simple outer spacing.
 */
ui-box{
  --ui-box-spacing: var(--ui-spacing);

  padding: var(--ui-box-spacing);

  /**
   * Match default <ui-appbar>
   */
  &.is-appbar{
    padding: 0 var(--ui-appbar-spacing);
  }

  &.has-0-spacing{
    --ui-box-spacing: 0;
  }
  &.has-spacing{
    // default / no-change
  }
  &.has-s-spacing{
    --ui-box-spacing: var(--ui-s-spacing);
  }
  &.has-xs-spacing{
    --ui-box-spacing: var(--ui-xs-spacing);
  }
}