/**
 * Simple outer spacing, typically for a single direct child.
 */
ui-box{
  --ui-box-spacing: var(--ui-spacing);

  display: block;

  padding: var(--ui-box-spacing);

  &.has-l-spacing{
    --ui-box-spacing: var(--ui-l-spacing);
  }

  /**
   * Only left/right padding.
   */
  &.is-gutter{
    padding-top: 0;
    padding-bottom: 0;
  }
  &.has-0-spacing{
    --ui-box-spacing: 0;
  }
  &.has-spacing{
    // default / no-change
  }
  &.has-s-spacing{
    --ui-box-spacing: var(--ui-s-spacing);
  }
  &.has-xs-spacing{
    --ui-box-spacing: var(--ui-xs-spacing);
  }

  /**
   * A main content or app area, where on larger screens
   * there is more breathing room on the left/right.
   */
  &.is-main{
    margin: 0;

    //margin: 0 auto;

    //width: 100%;
    //
    max-width: 1092px; // 1400
    //min-width: 760px;
    //width: calc(100vw - 302px);

    height: 100%;

    &.is-centered{
      margin: 0 auto;
    }

    @include tablet{
      padding-left: calc(var(--ui-box-spacing) * 2.75);
      padding-right: calc(var(--ui-box-spacing) * 2.75);
    }
  }
}