:root {
  --ui-dialog-background: var(--ui-secondary-background);
  --ui-dialog-label: var(--ui-label);

  --ui-dialog-secondary-background: var(--ui-tertiary-background);
  --ui-dialog-secondary-label: var(--ui-label);

  --ui-dialog-shadow: var(--ui-secondary-background-shadow);

  --ui-dialog-title-vertical-padding: var(--ui-s-spacing);
  --ui-dialog-title-horizontal-padding: var(--ui-s-spacing);
  --ui-dialog-title-weight: var(--ui-weight-semibold);
}

ui-modal ui-dialog{
  box-shadow: 0 0.5em 1em -0.125em var(--ui-dialog-shadow), 0 0px 0 1px var(--ui-dialog-shadow);
  border-radius: var(--ui-radius);
  border: 1px solid var(--ui-separator);
}

ui-dialog{
  background: var(--ui-dialog-background);
  color: var(--ui-dialog-label);

  display: flex;
  flex-direction: column;

  /**
   * Secondary content offset against the main dialog content. Sidebar, etc.
   */
  .ui-secondary-dialog-content{
    background: var(--ui-dialog-secondary-background);
    color: var(--ui-dialog-secondary-label);
  }

  .ui-dialog-title{
    background: var(--ui-dialog-secondary-background);
    color: var(--ui-dialog-secondary-label);
    padding: var(--ui-dialog-title-vertical-padding);

    h5 {
      font-weight: var(--ui-dialog-title-weight);
    }

    position: relative;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--ui-separator);

    ui-icon-button.ui-dialog-close{
      position: absolute;
      left: var(--ui-dialog-title-horizontal-padding);
      // use is-tiny
      //--ui-icon-button-size: 14px;
      //--ui-button-spacing: 2px;
    }
  }
}

