@import "/utils";
/**
 * A "standard looking" floating/closable dialog box.
 * Floating or full screen, depending on mobile size.
 * Designed for use within a <ui-modal>
 */

:root {
  --ui-dialog-background: var(--ui-background);
  --ui-dialog-label: var(--ui-label);

  --ui-dialog-secondary-background: var(--ui-secondary-background);
  --ui-dialog-secondary-label: var(--ui-label);

  //--ui-dialog-shadow: var(--ui-secondary-background-shadow);

  --ui-dialog-title-vertical-padding: var(--ui-s-spacing);
  --ui-dialog-title-horizontal-padding: var(--ui-s-spacing);
  --ui-dialog-title-weight: var(--ui-weight-semibold);
}

ui-dialog{
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  /**
   * Secondary content offset against the main dialog content. Sidebar, etc.
   */
  .ui-secondary-dialog-content{
    background: var(--ui-dialog-secondary-background);
    color: var(--ui-dialog-secondary-label);
  }

  .ui-dialog-content{
    border-top: 1px solid var(--ui-separator);
  }

  .ui-dialog-title{
    background: var(--ui-dialog-secondary-background);
    color: var(--ui-dialog-secondary-label);
    padding: var(--ui-dialog-title-vertical-padding);

    h5 {
      font-weight: var(--ui-dialog-title-weight);
    }

    position: relative;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--ui-separator);

    ui-icon-button.ui-dialog-close{
      position: absolute;
      left: var(--ui-dialog-title-horizontal-padding);
    }
  }
}

/*
ui-modal ui-dialog{
  @include tablet{
    min-width: 400px;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0.5em 1em -0.125em var(--ui-dialog-shadow), 0 0px 0 1px var(--ui-dialog-shadow);
    border-radius: var(--ui-radius);
    border: 1px solid var(--ui-separator);
    margin-top: var(--ui-spacing);
  }
}*/
