/**
 * Merely a column of child elements, usually:
 *
 * <ui-icon> (decoration)
 * <hx>
 * <hy>
 * <ui-button> (call to action)
 */

ui-empty{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;

  > * + *{
    margin-top: var(--ui-spacing);
  }

  > ui-icon:first-child{
    // TBD
    --ui-icon-size: 4rem;
  }
}
