@import '/utils';

/**
 * Covers entire viewport and must be dismissed/closed.
 *
 * See: <ui-dialog>
 */

$modal-z: 40 !default;
//$modal-content-margin-mobile: 20px !default;
//$modal-content-spacing-mobile: 160px !default;
//$modal-content-spacing-tablet: 40px !default;

/*
@mixin modalOverlay($offset: 0) {
  bottom: $offset;
  left: $offset;
  position: absolute;
  right: $offset;
  top: $offset;
}
*/


ui-modal-backdrop{
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0,0,0,.75);
  z-index: 40;
}

ui-modal {
  //@include modalOverlay;
  //align-items: center;
  //display: none;
  //flex-direction: column;
  //overflow: hidden;
  z-index: 41;
  display: none;
  position: absolute;
  &[open] {
    display: block;
  }
}

/*
.ui-modal-background {
  @include modalOverlay;

  background: rgba(0,0,0,.75);
}*/

/*
.ui-modal-content {
  overflow: visible;
  position: relative;
  width: 100%;
  max-width: 100%;
}*/
