@import '/utils';


ui-layer{

  &.is-toast{
    z-index: 500;
  }

  &.is-full {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 300;

    background: var(--ui-background);
    color: var(--ui-foreground);

    display: flex;
    flex-direction: column;
  }

}

/**
 * Covers entire viewport and must be dismissed/closed.
 *
 * See: <ui-dialog>
 */

$modal-z: 40 !default;
//$modal-content-margin-mobile: 20px !default;
//$modal-content-spacing-mobile: 160px !default;
//$modal-content-spacing-tablet: 40px !default;

/*
@mixin modalOverlay($offset: 0) {
  bottom: $offset;
  left: $offset;
  position: absolute;
  right: $offset;
  top: $offset;
}
*/


ui-modal + ui-modal-backdrop{
  // https://github.com/GoogleChrome/dialog-polyfill/blob/master/dist/dialog-polyfill.css

  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0,0,0,.75);
}

ui-modal {
  // https://github.com/GoogleChrome/dialog-polyfill/blob/master/dist/dialog-polyfill.css

  //z-index: 41;

  display: block;
  position: absolute;
  outline:0;
  position: absolute;
  left: 0;
  right: 0;

  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
 // margin: auto; // TODO tbd

  &.is-fixed{
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
  }
}
ui-modal:not([open]) {
  display: none;
}

/*
.ui-modal-background {
  @include modalOverlay;

  background: rgba(0,0,0,.75);
}*/

/*
.ui-modal-content {
  overflow: visible;
  position: relative;
  width: 100%;
  max-width: 100%;
}*/
