@import '/utils';

/**
 * Not-yet-defined custom elements
 */
//*:not(:defined) {
//  opacity: .5;
//  transition: opacity 0.3s ease-in-out;
//}

.ui-render-fix{
  transform: translateZ(0); // for safari repaint issues
}

.ui-separator-column{
  > *:not(:last-child) {
    border-bottom: 1px solid var(--ui-separator);
  }
}

.ui-separator-row{
  > *:not(:last-child){
    border-right: 1px solid var(--ui-separator);
  }
}

.ui-column{
  display: grid;
  grid-template-columns: auto;

  &.has-2xs-spacing{
    row-gap: var(--ui-2xs-spacing);
  }
  &.has-xs-spacing{
    row-gap: var(--ui-xs-spacing);
  }
  &.has-s-spacing{
    row-gap: var(--ui-s-spacing);
  }
  &.has-spacing{
    row-gap: var(--ui-spacing);
  }
  &.has-l-spacing{
    row-gap: var(--ui-l-spacing);
  }
  &.has-xl-spacing{
    row-gap: var(--ui-xl-spacing);
  }
  &.has-2xl-spacing{
    row-gap: var(--ui-2xl-spacing);
  }
}


/**
 * A row of ul's
 */
.ui-list-row{
  display: flex;
  flex-direction: row;

  > ul{
    flex-grow: 1;
    text-align:left;

    > li{
      ui-button {
        --ui-button-radius: 0px;
      }
    }

    + ul{
      border-left: 1px solid var(--ui-separator);
    }
  }
}

